<!-- app/views/public/homes/about.html.erb -->
<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>ながのCAKE</title>-->
<!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--aboutページ-->
<body>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center mt-n5">
      <h1 class="display-1">About</h1>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。</p>
    </div>
  </div>
</body>
</html>