/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; /* 既存のインポート */
@import "your_custom_styles"; /* 追加する場合、他のカスタムスタイルシートをインポートすることも可能 */

/*home/topページの画像*/
.welcome-text {
  position: relative;
  background-image: url('app/assets/images/home_top.png'); /* 背景画像のパスを指定 */
  background-size: cover; /* 画像をコンテナのサイズに合わせる */
  background-position: center; /* 画像を中央に配置 */
  color: #fff; /* 文字色を白に設定 */
  padding: 20px; /* パディングを追加 */
  border-radius: 10px; /* 角を丸くする */
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明のオーバーレイ */
  border-radius: 10px; /* 角を丸くする */
}

.welcome-text p {
  position: relative; /* オーバーレイの上にテキストを表示するために相対位置を指定 */
  z-index: 1; /* テキストがオーバーレイの上に表示されるようにする */
}