<h3 class="bg-secondary">ログイン</h3>

<h4 class="bg-secondary">会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

　<table>
　  <tr>
      <th>メールアドレス</th>
      <td>
        <input type="email" id="email" name="email">
      </td>
    </tr>
    
    <tr>
      <th>パスワード（6文字以上）</th>
      <td>
        <input type="password" id="encrypted_password" name="encrypted_password">
      </td>
    </tr>
    
    <tr>
      <th></th>
      <td>
       <div class="btn btn-primary"> <%= f.submit 'ログイン' %> </div>
      </td>
    </tr>
  </table>
<% end %>
  
<h4 class="bg-secondary">会員登録がお済でない方</h4>
<%= link_to "こちら",  public_customers_sign_up_path %>から新規登録を行ってしてください

